@import '../../../../assets/style/globals.scss';

.body{
    background-color: white;
}
.add-reward-btn{
    cursor: pointer;
    font-size: 20px;
}


.no-rec-container{
    margin-top: -30px;
    .no-record-img{
        text-align: center;
        width: 40%;
    }
    .no-rec-label{
        margin-top: -30px;
        font-size: 22px;
    }
}
.dropdown-content{
    width: 50vw;
    height: 200px;
}
// modal

:host::ng-deep{
    .p-dialog-footer{
        text-align: right;
        padding: 15px 40px;
    }
    .p-dialog .p-dialog-header {
        border-bottom: none;
        background: white;
        color: #333333;
        padding: 1rem;
        text-align: center;
        .p-dialog-title{
            width: 100%;
            font-weight: 200;
            font-size: 20px;
        }
    }
}