@import './../assets/style/globals.scss';
.sizes {
    .p-inputtext {
        display: block;
        margin-bottom: .5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.p-field * {
    display: block;
}
.custom-height{
    display: flex; 
    margin-bottom: 20px;
}

@include screen-tablet{
    .custom-height{
        margin-bottom: 90px;
    }
}
